* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.header {
  padding-top: 57px;
  background: #EEEFF1;
}
.container {
  margin: 0 auto;
  max-width: 1105px;
}
.wrap {
  display: flex;
  justify-content: space-between;
}
.logo {
}
.nav {
  display: flex;
  gap: 42px;
}
.nav__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000000;
}
.top {
  background: #EEEFF1;
  padding-top: 162px;
}
.section__wrap {
  display: flex;
  justify-content: space-between;
  margin-left: 96px;
}
.section__wrap div {
  max-width: 540px;
}
.section__wrap div {
  max-width: 540px;
}
h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.section__wrap p {
  margin-top: 60px;
}
.btn {
  margin-top: 60px;
  width: 225px;
  height: 65px;
  left: 975px;
  top: 482px;
  background: #34547A;
}
.about {
}
.portfolio {
}
.portfolio__list {
}
.portfolio__item {
}
.skills {
}
.wrapper {
}
.wrapper__inner {
}
.jobs {
}
.images {
}
.company {
}
.email {
}
.footer {
}
.social {
}